In [15]:
import pandas as pd
import numpy as np

In [4]:
rents = pd.read_hdf('data/rents.h5', 'rents')

In [5]:
rents.head()

,pid,date,region,neighborhood,rent,bedrooms,sqft,rent_sqft,longitude,latitude,county,fips_block,state,bathrooms
0,5873872320,2016-11-13,muskegon,,600.0,2.0,700.0,0.857143,-86.235567,43.219625,Muskegon,261210005004029,MI,NaN
1,5873877617,2016-11-13,merced,Merced,925.0,2.0,874.0,1.058352,-120.508000,37.330200,Merced,060470010021060,CA,NaN
2,5849836436,2016-11-13,bozeman,2990 West Winds Way,1850.0,3.0,1566.0,1.181354,-111.079491,45.696211,Gallatin,300310005031204,MT,NaN
3,5873915596,2016-11-13,myrtlebeach,LANDING ROAD,1200.0,2.0,1150.0,1.043478,-78.877855,33.727425,Horry,450510501021018,SC,NaN
4,5862944298,2016-11-13,fayar,2444 Jeremiah,1000.0,3.0,1425.0,0.701754,-94.193988,36.096740,Washington,051430105072017,AR,NaN

In [6]:
CA = rents[rents['state']=='CA']

In [7]:
CA.head()

,pid,date,region,neighborhood,rent,bedrooms,sqft,rent_sqft,longitude,latitude,county,fips_block,state,bathrooms
1,5873877617,2016-11-13,merced,Merced,925.0,2.0,874.0,1.058352,-120.508000,37.330200,Merced,060470010021060,CA,NaN
15,5873876292,2016-11-13,chico,Chico,735.0,0.0,650.0,1.130769,-121.825955,39.719617,Butte,060070012001017,CA,NaN
20,5873889346,2016-11-13,slo,Atascadero,1675.0,3.0,1000.0,1.675000,-120.661533,35.485117,San Luis Obispo,060790125023017,CA,NaN
25,5873893871,2016-11-13,santamaria,Santa Maria,1818.0,2.0,1084.0,1.677122,-120.426800,34.828600,Santa Barbara,060830020061208,CA,NaN
50,5849643168,2016-11-13,redding,Wilson Ave,1050.0,2.0,1100.0,0.954545,-122.325522,40.566627,Shasta,060890113004008,CA,NaN

In [8]:
CA['year'] = CA['date'].year

AttributeError: 'Series' object has no attribute 'year'

In [9]:
CA['year'] = pd.DatetimeIndex(CA['date']).year
CA['month'] = pd.DatetimeIndex(CA['date']).month

/home/paul/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/paul/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
CA.head()

,pid,date,region,neighborhood,rent,bedrooms,sqft,rent_sqft,longitude,latitude,county,fips_block,state,bathrooms,year,month
1,5873877617,2016-11-13,merced,Merced,925.0,2.0,874.0,1.058352,-120.508000,37.330200,Merced,060470010021060,CA,NaN,2016,11
15,5873876292,2016-11-13,chico,Chico,735.0,0.0,650.0,1.130769,-121.825955,39.719617,Butte,060070012001017,CA,NaN,2016,11
20,5873889346,2016-11-13,slo,Atascadero,1675.0,3.0,1000.0,1.675000,-120.661533,35.485117,San Luis Obispo,060790125023017,CA,NaN,2016,11
25,5873893871,2016-11-13,santamaria,Santa Maria,1818.0,2.0,1084.0,1.677122,-120.426800,34.828600,Santa Barbara,060830020061208,CA,NaN,2016,11
50,5849643168,2016-11-13,redding,Wilson Ave,1050.0,2.0,1100.0,0.954545,-122.325522,40.566627,Shasta,060890113004008,CA,NaN,2016,11

In [37]:
#grouped = df.groupby('Team')
#print grouped['Points'].agg([np.sum, np.mean, np.std])
CA3 = CA[CA['bedrooms']<4]
grouped = CA3.groupby(['bedrooms','year','month'])
grouped['rent'].agg([np.median,np.size]).unstack(level=0).to_csv('data/CA.csv')

In [39]:
grouped = CA3.groupby(['county','bedrooms','year','month'])
grouped['rent'].agg([np.median,np.size]).unstack(level=1).to_csv('data/Counties.csv')